.leftDiv{
  width: 40%;
  padding: 2em;
  float: left;
  background-color: aliceblue;
}

.rightDiv{
  width: 40%;
  padding: 2em;
  float: right;
  background-color: gainsboro;
}

.APP{
  display: inline-block;
  margin:0 auto ;
}